@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;

@layer base {
  body {
    @apply bg-gray-100 text-gray-700 dark:bg-gray-900 dark:text-gray-200;
  }

  a svg {
    @apply inline-flex align-baseline;
  }

  @font-face {
    font-family: "YoeYarOne";
    src: local("YoeYarOne"), url(./fonts/YoeYar-One.ttf) format("truetype");
  }

  @font-face {
    font-family: "Pyidaungsu";
    src: local("Pyidaungsu"), url(./fonts/Pyidaungsu.ttf) format("truetype");
  }
}

@tailwind components;

@layer components {
  .skeleton {
    @apply bg-gray-400 dark:bg-gray-500 animate-pulse mx-auto;
  }

  .desc {
    @apply font-mm text-base leading-8;
  }

  .nav-link {
    @apply hover:underline hover:text-indigo-800 dark:hover:text-indigo-400;
  }

  .input-mt {
    @apply appearance-none text-sm leading-tight py-2 px-4 rounded border-2 border-gray-300 dark:border-gray-700 bg-gray-200 dark:bg-gray-700 focus:outline-none focus:border-indigo-800 dark:focus:border-indigo-400;
  }

  .form-btn {
    @apply px-4 py-2 capitalize border rounded border-gray-300 dark:border-gray-700;
  }

  .error {
    @apply text-red-500;
  }
}

@tailwind utilities;
